<!-- TOP BAR -->
<div class="bg-success text-white py-1">
  <div
    class="container d-flex flex-column flex-md-row justify-content-between align-items-center small text-center text-md-start gap-2">

    <span>🇨🇲 République du Cameroun — Plateforme Électorale Nationale</span>

    <div>
      <a href="/login.html" class="btn btn-sm btn-light fw-bold me-1"> Se connecter</a>
      <a href="/register.html" class="btn btn-sm btn-warning fw-bold">S'inscrire</a>
    </div>

  </div>
</div>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow">
  <div class="container">

    <!-- LOGO -->
    <a class="navbar-brand fw-bold text-warning" href="index.html">
      ÉLECTIONS <span class="text-danger">CM</span>
    </a>

    <!-- BOUTON MOBILE -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto align-items-lg-center text-center gap-lg-2">

        <li class="nav-item">
          <a class="nav-link fw-semibold" href="index.html">Accueil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" href="Candidats.html">Candidats</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" href="electeurs.html">Électeurs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" href="resultats.html">Résultats</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" href="vote.html">vote</a>
        </li>

        <!-- BOUTON DON -->
        <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
          <a href="don.html" class="btn btn-danger fw-bold rounded-pill px-4">
            Aide
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>

<!-- BARRE TRICOLORE -->
<div class="d-flex w-100" style="height:5px;">
  <div class="bg-success flex-fill"></div>
  <div class="bg-danger flex-fill"></div>
  <div class="bg-warning flex-fill"></div>
</div>